* {
    margin: 0;
    padding: 0;
}

.heading {
    padding-left: 500px;
    cursor: pointer;
}

.heading h1 {
    font-size: 50px;
    color: black;
    font-style: italic;
    /* text-align: center; */
    margin-left: -200px;
    
}

.heading h2 {
    font-size: 40px;
    color: black;
    font-style: italic;
    padding-left: 0px;
    text-align: left;
    margin-left: 50px;
}

body {
    background: url("register.jpeg");
    background-size: 100%;
    opacity: 15;
}

.aa {
    text-align: center;
}

.div {
    font-size: 20px;
    margin-left: 3%;
    margin-right: 50px;
    align-content: center;
    width: 550px;
    padding-left: 20px;
    /* background-color: linear-gradient(43deg, #b1425a 0%, #c96971 46%, #db6042 100%); */
}

.row {
    display: inline-flex;
    text-align: center;
    margin-left: 0px;
    float: left;
    cursor: pointer;
    padding-right: 00px;
    border-bottom: 1px solid black;
    background-color: #083e54;
    width: 100%;
}

.row li {
    line-height: 37px;
    color: white;
    padding-left: 40px;
    padding-right: 30px;
    border: 0px solid black;
    /* background-color: ; */
    text-transform: uppercase;
    transition: 0.8s;
    border-radius: 30px;
    margin-left: 42px;
}

.row li:hover {
    border: 0px;
    background: blueviolet;
    border: 2px solid blue;
}